<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title> 
        <link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
        <script src="./../js/func.js"></script>
    </head>
    <body>
        <main>
            <section>
                <h2>Welcome to Our Website</h2>
                <p>This is a sample section. Customize it as needed.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Michał 131821, Denis 131862, Karol 131796, Teresa 131882. All rights reserved.</p>    
        </footer>
    </body>
</html>